<!-- This section is for Splash Screen -->
<div class="ole">
<section id="jSplash">
	<div id="circle"></div>
</section>
</div>
<!-- End of Splash Screen -->

<!-- Header -->
<header>
    <div class="sticky-nav">
    	<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
        
        <div id="logo">
        	<a id="goUp" href="#home-slider" title="Brushed | Responsive One Page Template">Brushed Template</a>
        </div>
        
        <nav id="menu">
        	<ul id="menu-nav">
            	<li><%= link_to "Accueil", root_path, :class => "external" %></a></li>
                <li class="current"><%= link_to "Sports", pages_sports_path, :class => "external" %></li>
                <li><a href="#about">Classement</a></li>
                <li> Se déconnecter </li>
            </ul>
        </nav>
        
    </div>
</header>
<!-- End Header -->

<div id="shortcodes" class="page">
	<div class="container">
    
    	<!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Mon compte</h2>
                    <!-- <h3 class="title-description">Useful and Indispensable.</h3> -->
                </div>
            </div>
        </div>
        <!-- End Title Page -->
        
        <!-- Informations de compte -->

        <div class="row">
        	<div class="span12">
        	<h3 class="title-description"> Informations de compte</h3>
        		<li> Nom d'utilisateur : </li>
        		<li> Adresse email : </li>
        		<li> Classement actuel : </li>
        	</div>
        </div>



        <div class="row">
        	<div class="span12">
            	<hr>
            </div>
        </div>

        <!-- Historique -->

        <div class="row">
        	<div class="span12">
        	<h3 class="title-description"> Historique des paris</h3>
        		<li> Nombre de paris au total : </li>
        		<li> Nombre de paris réussie : </li>
        	</div>
        </div>
        
        
        <div class="row">
        	<div class="span12">
            	<hr>
            </div>	
        </div>
        
        <!-- Administration du compte-->

        <div class="row">
        	<div class="span12">
        	<h3 class="title-description"> Admninistration du compte</h3>
        	<h4 class="description"> Changer de mot de passe </h4>
        		<li> Ancien mot de passe : </li>
        		<li> Nouveau mot de passe : </li>
        		<li> Retapper le mot de passe : </li>
        		<a class="delete-account" href="#">Supprimer le compte</a>
        	</div>
        </div>
        
        <div class="row">
        	<div class="span12">
            	<hr>
            </div>	
        </div>
        
        
        <div class="row">
        	<div class="span12">
            	<hr>
            </div>	
        </div>
        
        
        <div class="row">
        	<div class="span12">
            	<hr>
            </div>	
        </div>
        
    </div>
</div>
<!-- End Shortcodes Section -->

<!-- Footer -->
<footer>
	<p class="credits">&copy;2013 Brushed. <a href="http://themes.alessioatzeni.com/html/brushed/" title="Brushed | Responsive One Page Template">Brushed Template</a> by <a href="http://www.alessioatzeni.com/" title="Alessio Atzeni | Web Designer &amp; Front-end Developer">Alessio Atzeni</a></p>
</footer>
<!-- End Footer -->

<!-- Back To Top -->
<a id="back-to-top" href="#">
	<i class="font-icon-arrow-simple-up"></i>
</a>
<!-- End Back to Top -->