<!-- This section is for Splash Screen -->
<div class="ole">
<section id="jSplash">
	<div id="circle"></div>
</section>
</div>
<!-- End of Splash Screen -->

<!-- Header -->
<header>
    <div class="sticky-nav">
    	<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
        
        <div id="logo">
        	<a id="goUp" href="#home-slider" title="Brushed | Responsive One Page Template">Brushed Template</a>
        </div>
        
        <nav id="menu">
        	<ul id="menu-nav">
            	<li><%= link_to "Accueil", root_path, :class => "external" %></a></li>
                <li><%= link_to "Classement", pages_classement_path, :class => "external" %></li>
                <li><%= link_to "Mon compte", pages_account_path, :class => "external" %></li>
                <li> Se déconnecter </li>
            </ul>
        </nav>
        
    </div>
</header>
<!-- End Header -->

<div id="shortcodes" class="page">
	<div class="container">
    
    	<!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Mes amis</h2>
                    <!-- <h3 class="title-description">Useful and Indispensable.</h3> -->
                </div>
            </div>
        </div>
        <!-- End Title Page -->
        
        <!-- Ajouter un ami -->

        <div class="row">
        	<div class="span12">
        	<h3 class="title-description"> Ajouter un nouvel ami</h3>
        		<li> Par son nom d'utilisateur : </li>
        		<li> Par son adresse email : </li>
                <a class="add-friends" href="#">Ajouter un ami</a>
        	</div>
        </div>



        <div class="row">
        	<div class="span12">
            	<hr>
            </div>
        </div>

        <!-- Gestion des amis -->

        <div class="row">
        	<div class="span12">
        	<h3 class="title-description"> Top 3 des amis</h3>
        		<li> Numéro 1 : </li>
        		<li> Numéro 2 : </li>
                <li> Numéro 3 : </li>
                <br>
                <h3 class="title description"> Rechercher un ami</h3>
                <li> Nom d'utilisateur : </li>
        	</div>
        </div>

        
        
        <div class="row">
        	<div class="span12">
            	<hr>
            </div>	
        </div>
        
        
       
        
    </div>
</div>
<!-- End Shortcodes Section -->

<!-- Footer -->
<footer>
	<p class="credits">&copy;2013 Brushed. <a href="http://themes.alessioatzeni.com/html/brushed/" title="Brushed | Responsive One Page Template">Brushed Template</a> by <a href="http://www.alessioatzeni.com/" title="Alessio Atzeni | Web Designer &amp; Front-end Developer">Alessio Atzeni</a></p>
</footer>
<!-- End Footer -->

<!-- Back To Top -->
<a id="back-to-top" href="#">
	<i class="font-icon-arrow-simple-up"></i>
</a>
<!-- End Back to Top -->